In [1]:
%load_ext sql

In [2]:
%sql postgresql://dwhuser:Passw0rd@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [4]:
%sql SELECT count(*) FROM songplay;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8390,)]

In [6]:
%sql SELECT * FROM songplay LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(8, datetime.time(10, 42, 3, 796000), 95, 'paid', None, None, 222, None, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (96, datetime.time(12, 9, 30, 796000), 49, 'free', None, None, 179, None, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (112, datetime.time(15, 23, 22, 796000), 26, 'free', None, None, 183, None, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (120, datetime.time(15, 56, 37, 796000), 86, 'free', None, None, 201, None, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (192, datetime.time(16, 45, 56, 796000), 30, 'paid', None, None, 324, None, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [7]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(50, 'Ava', 'Robinson', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'paid'),
 (30, 'Avery', 'Watkins', 'F', 'paid'),
 (100, 'Adler', 'Barrera', 'M', 'free')]

In [9]:
%sql SELECT * FROM songs limit 5;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SODZYPO12A8C13A91E', 'Burn My Body (Album Version)', 'AR1C2IX1187B99BF74', 0, 177.99791),
 ('SOCKYOP12A58A7C4EC', 'Drama', 'AROJWW21187FB574E6', 2003, 195.02975),
 ('SOKLLOH12A67020F2C', 'I Never Came', 'AR6G4V01187B9AD086', 2005, 288.41751),
 ('SOFXNQP12AB0184F1A', 'Hate', 'AR9ODB41187FB459B2', 1997, 198.3473),
 ('SOGGRXI12AC907140D', 'Hyperform', 'AR98ZYM1187B9B78CD', 1992, 312.92036)]

In [10]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.time(1, 42, 43, 796000), 1, 7, 45, 11, 2018, 3),
 (datetime.time(15, 38, 0, 796000), 15, 7, 45, 11, 2018, 3),
 (datetime.time(18, 37, 5, 796000), 18, 7, 45, 11, 2018, 3),
 (datetime.time(4, 36, 38, 796000), 4, 5, 45, 11, 2018, 1),
 (datetime.time(8, 58, 51, 796000), 8, 5, 45, 11, 2018, 1)]

In [14]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARG3GZM1187B98EE7A', 'Lucky Millinder', 'Anniston, AL', 33.65711, -85.81945),
 ('ARO5P0H1187FB5BAD7', 'Pepper', 'Kona, HI', None, None),
 ('ARKOXRI1187B9AF886', 'Julius La Rosa', '', None, None),
 ('ARVFX5A1187FB3F4FB', 'The Shadow Ring', '', None, None),
 ('ARWU9351187B990348', 'Salvador', 'United States', None, None)]

In [11]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Bullet For My Valentine', 'Logged In', 'Kate', 'F', 92, 'Harrell', 235.65016, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 293, 'Begging For Mercy', 200, datetime.datetime(2018, 11, 7, 0, 17, 49, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Lonnie Gordon', 'Logged In', 'Kate', 'F', 99, 'Harrell', 181.21098, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', 1540472624796, 293, 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 200, datetime.datetime(2018, 11, 7, 0, 43, 0, 796000), '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Lovehatehero', 'Logged In', 'Kaylee', 'F', 0, 'Summers', 216.65914, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', 1540344794796, 181, 'Red Dress', 200, datetime.datetime(2018, 11, 7, 1, 31, 24, 796000), '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Flight Of The Conchords', 'Logged In', 'Kynnedi', 'F', 0, 'Sanchez', 148.55791, 'free', 'Cedar Rapids, IA', 'PUT', 'NextSong', 1541079034796, 192, 'Too Many Dicks (On The Dance Floor)', 200, datetime.datetime(2018, 11, 7, 3, 1, 0, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 89),
 ('Twista feat. Kayne West & Jamie Foxx', 'Logged In', 'Ava', 'F', 2, 'Robinson', 212.55791, 'free', 'New Haven-Milford, CT', 'PUT', 'NextSong', 1540931983796, 313, 'Slow Jamz (Feat. Kanye West & Jamie Foxx) (Edited Album Version)', 200, datetime.datetime(2018, 11, 7, 5, 35, 31, 796000), '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 50)]

In [13]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cose6ga5cx2h.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'ARDNS031187B9924F0', 32.67828, -83.22295, 'Georgia', 'Tim Wilson', 'SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 186.48771, 2005),
 (1, 'ARLG96V1187FB3CFB6', None, None, '', 'Morten Abel', 'SODMGPD12A8C13648E', "Our Day's Coming", 251.21914, 0),
 (1, 'AR9TJKD1187B990125', 34.05349, -118.24532, 'London, England', 'Riff Raff', 'SOKVIBT12A8AE45ABD', 'Jealous Woman (2007 Digital Remaster)', 185.20771, 0),
 (1, 'ARAJQZF1187FB43BE5', None, None, '', 'Jaromir Nohavica', 'SOUSSZL12A8C144DB8', 'Jeste mi schazis', 135.23546, 2006),
 (1, 'AR5J8XN1187B9B712E', None, None, '', 'Extreme', 'SOEETVW12A6D4F93B8', "Teacher's Pet", 181.55057, 0)]